body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#F2EAD2;
  }
  
  .header {
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: slategray;
    height: 120px;
    color: white;
    text-align: center;
    padding: 0 10px; 
    background-color: #D2DAF2;
  }
  
  .header img {
    height: 100%;
    width: 142px;
    
  }
  
  .title {
    flex: 1;
    font-size: 190%;
    margin-left: 6%;
  }
  
  .title h1 {
    margin: 0;
    font-family: 'B612', sans-serif;
    color: black;
    width: 110%;
  }

  .logo:hover {
    filter: invert(.3) sepia(2) saturate(2) hue-rotate(70deg);
    animation-delay: 100ms;
  }
  
  .logo {
    transition: 0.5s;
    transition-timing-function: ease;
    -webkit-transition: 0.5s;
    -webkit-transition-timing-function: ease;
  }
  
  .topnav {
    float: right;
  }
  
  .topnav a {
    padding: 0px 10px;
    font-size: 25px;
    text-decoration: none;
    font-family: 'B612', sans-serif;
    color: black;
  }
  
  .topnav a.active {
    color: gray;
  }
  
  .topnav a:hover {
    text-decoration: underline;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    padding: 5px;
  }

  .grid-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1; 
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .footer {
    height: 120px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#D2DAF2;
  }
  
  .footer h1 {
    font-size: 100%;
    margin: 0;
    padding: 10px 0;
    font-family: 'B612', sans-serif; 
    color: black; 
  }
  
  h2 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  