body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: slategray;
  height: 120px;
  color: white;
  text-align: center;
  padding: 0 20px; 
}

.title {
  flex: 1;
  font-size: 190%;
  margin-left:13%;
}

.title h1 {
  margin: 0;
}

.topnav {
  float: right;
}

.topnav a {
  padding: 0px 10px;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: 5px;

}

.column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 5px;
}

.column2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
}

.column2 img {
  width: 100%;
  height: 52.97% ;
  object-fit: cover;
  margin-bottom: 5px;
  position:absolute; bottom: 0;
}

.about {
  font-size: 22px;
  border: 2px solid black;
  border-top: px;
  padding-bottom: 130px;
  padding-top: 60px;
 
}

.about h2 {
  text-decoration: underline;
}

.column3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: 10px;
}

.column3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 5px;
  margin-right: 10px;

}

.footer {
  background-color: slategray;
  height: 120px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h1 {
  font-size: 100%;
  margin: 0;
  padding: 10px 0;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}
